// ion-header {display: none !important;}

page-login {
    .login-form_logo {margin: 0 auto; padding: 30px 20px; margin-top: 50px; text-align: center;}
    .login-form_logo img {max-width: 370px; width: 100%;}
    .login-form_main {width: 100%; padding: 30px; position: absolute; top: calc(50% + 120px); left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);}
    .login-form_main ion-item {padding: 0;}
    .login-form_login {display: block; margin: 20px auto 0;}

    #pseudo-alert {position: fixed; left: 50%; transform: translateX(-50%); bottom: 20px; opacity: .7; padding: 8px 10px; width: 90%; border: 1px solid #FFF; border-color: color($colors, warning); border-radius: 5px;}
    #pseudo-alert fa-icon {position: absolute; top: 8px; left: 8px; color: color($colors, warning);}
    #pseudo-alert p {margin: 0 auto; padding-left: 24px; font-size: 1.2rem; color: color($colors, warning);}

    #pseudo-alert.disabled {display: none;}
    #pseudo-alert.enabled {display: block;}
    







}
